@charset "utf-8";

html,
body {
    margin: 0;
    padding: 0;
}

.gall_2 {
    text-align: center;
}

.prev_2,
.next_2 {
    color: var(--gold);
    font-size: 20px;
}

.gal2__visible {
    margin: var(--gap) auto;
    position: relative;
    height: 20vw;
    overflow: hidden;
}

.gal2__item {
    width: 400px;
    height: 20vw;
    background-color: #6668f0;
    position: absolute;
    top: 0;
    transition: all 2s;
}

.dot {
    background-color: var(--gold);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 3px;
    display: inline-block;
    cursor: pointer;
}

.red {
    background-color: red;
}

#buttons_2 {
    text-align: center;
}

@media screen and (max-width: 750px) {
    .im {
        width: auto;
        height: 100%;
    }
}